# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.eggs/

# Envs
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Training artifacts
models/
*.keras
*.h5
reports/

# Jupyter
.ipynb_checkpoints/

